* {
  padding: 0;
  margin: 0;
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

form {
  text-align: center;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

ul {
  border: 1px solid black;
  padding: 20px;
  list-style-position: inside;
}
body{
  background-color: rgb(6, 255, 243);
}
button:hover{
  color: #fff;
  background-color: rgb(16, 195, 16);
}
.rem:hover{
  background-color: rgb(246, 13, 13);
}